/* Section1.css */

.section1 {
  height: 650px;
  padding: 80px;
  background-image: url("../../assets/home/iphonee-16-pro-mobile.jpg");
  background-color: black;
  background-size: auto;
  background-position: center center;
  background-repeat: no-repeat;
}

@media (min-width: 720px) {
  .section1 {
    background-image: url("../../assets/home/iphone-16-pro.jpg");
    background-size: cover;
  }
}
